<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTA DE PRODUTOS</span>
                  <button class="btn btn-success float-end" routerLink="/criar-produto">NOVO</button>
                  <table class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Produto</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Localização</th>
                          <th scope="col">Preço</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Coca Cola</td>
                          <td>Bebida</td>
                          <td>Rio de Janeiro</td>
                          <td> R$ 8,00 </td>
                          <td>
                              <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                              <i class="fas fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>Nescau</td>
                          <td>Achocolatado</td>
                          <td>Santa Catarina</td>
                          <td> R$ 4,00 </td>
                          <td>
                              <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                              <i class="fas fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>Scooter</td>
                          <td>Transporte elétrico</td>
                          <td>São Paulo</td>
                          <td> R$ 8,000 </td>
                          <td>
                              <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                              <i class="fas fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--
                    <h5 style="text-align: start; margin-top: 10px;">Não há produtos para mostrar</h5>
                    -->
              </div>
          </div>
      </div>
  </div>
</div>
