<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTA DE PRODUTOS</span>
                  <button class="btn btn-success float-end" routerLink="/criar-produto">NOVO</button>
                  <table *ngIf="listProdutos.length > 0" class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Produto</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Localização</th>
                          <th scope="col">Preço</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor ="let produto of listProdutos">
                          <td>{{produto.nome}}</td>
                          <td>{{produto.categoria}}</td>
                          <td>{{produto.localizacao}}</td>
                          <td>{{produto.preco | currency: 'BRL' }}</td>
                          <td>
                              <i [routerLink]="['/editar-produto', produto._id]" class="fas fa-solid fa-pen-to-square text-primary"></i>
                              <i (click)="eliminarProducto(produto._id)" class="fas fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                      <td>


                      </tbody>
                    </table>

                    <h5 *ngIf="listProdutos.length < 0" style="text-align: start; margin-top: 10px;">Não há produtos para mostrar</h5>

              </div>
          </div>
      </div>
  </div>
</div>
